* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  font-family: Sans-serif, Helvetica;
}

/* Header styles */

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

a.order-now {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

a.order-now:hover {
  background-color: #e53935;
}

/* Featured items styles */

section.featured-items {
  background-color: #fafafa;
  padding: 50px;
  text-align: center;
}
u {
  text-decoration: none;
  border-bottom: 0.8px solid black;
}

section.featured-items h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

section.featured-items ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

section.featured-items li {
  margin: 0 20px;
  flex-basis: 30%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

section.featured-items li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section.featured-items img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

section.featured-items h3 {
  font-size: 1.5rem;
  margin: 20px 0;
}

section.featured-items p {
  font-size: 1rem;
  margin-bottom: 20px;
}

section.featured-items a {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

section.featured-items a:hover {
  background-color: #e53935;
}

/* About us styles */

section.about-us {
  background-color: #333;
  color: #fff;
  padding: 50px;
  text-align: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/518/605/non_2x/dark-and-black-background-vector-and-illustration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.about-us h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

section.about-us p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

section.about-us a {
  background-color: #fff;
}